<% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this project question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<div class="row">
  <div class="col-md-4">

<%= simple_form_for @question, :url => @url do |f| %>
  <%= f.input :parent_id,:as => :hidden, :input_html => { :value => @parent_id }%>
<div class="form-group">
  <%= f.input :title, label: "Question Title", :required => true %>
</div>
<div class="form-group">
<%= f.input :description, class: "control-label"  %>
</div>

<div class="radio">
    <%= f.collection_radio_buttons( :q_type, [['T', 'Text-based free-form Answer'] ,['O', 'Create Custom Options'], ['TF','Option Template: True/False'], ['YN','Option Template: Yes/No/Maybe']], :first, :last ) do |b| %>
  <%=  b.label { b.radio_button + " " + b.text } %> <br>
  <% end %> 
</div>

  </br>
<div class="form-group">
  <%= f.button :submit, class: "btn btn-primary"%> 
</div>

<% end %>
