<% if flash[:notice]%>
    <div id="error_explanation">
      <h2><%= pluralize( flash[:notice].count, "error") %> prohibited this question to be copied:</h2>
      <ul>
      <%  flash[:notice].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
  
<%= form_for :question, :url => add_question_path , :method => :POST do |f| %>
  <%= collection_select(:project, :project_ids, @user_projects, :id, :title,{:prompt => "Please Select Projects:"}, {:multiple => true}) %>
  <%= f.button :submit, class: "btn btn-primary"%>
<% end %>
