<% if  @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( @option.errors.count, "error") %> prohibited this option from being saved:</h2>
      <ul>
      <%  @option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
<div class="row">
  <div class="col-md-4">

<%= simple_form_for @option, url: @url do |f| %>
<div class="form-group">

  <%= f.input :option_text, label: "Option", :required => true %>
</div>

  </br>
<div class="form-group">

  <%= f.button :submit, class: "btn btn-primary"%>
</div>

<% end %>

