<div class="row">

<div class="col-sm-4" id="abc">
  <h3>Questions View:</h3><br>
  <h4><%= @question.title %></h4>
  <p><%= @question.description %></p>
  <%= simple_form_for @answer, url: new_project_answer_path, :method => :post do |f| %>

      <% if @question.q_type == "T"%>
          <%= f.text_area :answer_text%> </br>
      <% else %>
            <%= f.collection_radio_buttons :answer_text, Option.where(question_id: @question.id), :id, :option_text, item_wrapper_class: :block_radio_button_collection %>
      <% end %>


  <% end %>
</div>

<div class="col-sm-5">

  <div style="position: relative; z-index: 5000;">
    <h3>File View:</h3>
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="filemenu-selector">
      <%= @file.file_name+" " %><span class="glyphicon glyphicon-chevron-down"></span>
      <span class="sr-only"></span></button>
    <button class="btn btn-primary">Add file to reference</button>
    <ul class="dropdown-menu" aria-labelledby="filemenu-selector">
      <% @files.each do |f| %>
          <li><%= link_to f.file_name, new_project_answer_path(question_id: @question.id, file_id: f.id), id:"file_id"+f.id.to_s %></li>
      <% end %>
    </ul>
  </div>


  <div>
    </br><iframe src=<%=@file.attachment_url %>  height="600" id="file_view"> </iframe>
  </div>

</div>

  <div class="col-sm-3" style="background-color: #ddffdd">
    <h3>Annotations:</h3>
  </div>

</div>


