<% if current_user.present? %>

<div class="jumbotron">
<h3>Hi <%= current_user.email[/[^@]+/].capitalize  %>! </h3>
</br>
<h4>
<ul>
    <li>The project view has a list of all the projects you have created or are a part of. </li>
    <li>You can create projects, add files to these projects and add questions to them.</li> 
</ul>
</h4>
</div>
<div class="row">
  <div class="col-sm-6 " >
	<div class="thumbnail tile tile-medium tile-green">
	   <div id="outer" >  
	        <h4>Projects you have created<h4>
	           <div id="inner"><h2><%=@adminprojects_count%></h2>
	          </div>
	       </div>
                <!--<i class="fa fa-3x fa-home"></i>-->
		<!--</a>-->
    </div>
</div>
<div class="col-sm-6 ">
	<div class="thumbnail tile tile-medium tile-orange">
	    <div id="outer" >  
	     <h4>Projects you contribute to<h4>
	           <div id="inner"><h2><%=@otherprojects_count%></h2>
	      </div>
	   </div>
	       <!--<i class="fa fa-3x fa-rss-square"></i>-->
		<!--</a>-->
	</div>
</div>
</div>
<div class="row">
  <div class="col-sm-6 " >
	<div class="thumbnail tile tile-medium tile-green">
	   <div id="outer" >  
	        <h4>Projects files uploaded in your projects<h4>
	           <div id="inner"><h2><%=@adminfiles_count%></h2>
	          </div>
	       </div>
                <!--<i class="fa fa-3x fa-home"></i>-->
		<!--</a>-->
    </div>
</div>
<div class="col-sm-6 ">
	<div class="thumbnail tile tile-medium tile-orange">
	    <div id="outer" >  
	     <h4>Total answers you have provided<h4>
	           <div id="inner"><h2><%=@answers_count%></h2>
	      </div>
	   </div>
	       <!--<i class="fa fa-3x fa-rss-square"></i>-->
		<!--</a>-->
	</div>
</div>
</div>
<!--
<!--<div class="col-sm-6 col-md-3">-->
<!--	<div class="thumbnail tile tile-medium tile-green">-->
<!--        <a href=<%='#' %> class="fa-links">-->
<!--            <h1>All Fixtures</h1>-->
<!--                <i class="fa fa-3x fa-home"></i>-->
<!--		</a>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="col-sm-6 col-md-3">-->
<!--	<div class="thumbnail tile tile-medium tile-orange">-->
<!--        <a href= <%= '#' %> class="fa-links">-->
<!--            <h1>Standings</h1>-->
<!--                <i class="fa fa-3x fa-rss-square"></i>-->
<!--		</a>-->
<!--	</div>-->
<!--</div>-->
    
<% else %>

  <h2>Welcome to Hawks Annotation! Sign in or sign up to continue</h2>
  <br>
  <%= image_tag("welcome_annotation.jpg", class:"img-responsive", size: "50%xauto") %>
  <!--<h2><%= @welcome %></h2>-->
  
<% end %>