<!DOCTYPE html>
<html>

<head>
  <!--<link href="projects.scss" rel="stylesheet">-->
  <% if current_user.present? %>
  
  <div class ="row">
    <div class="col-md-6">
    <%= form_tag(projects_path, method: :get) do %>
      <%= text_field_tag :term, params[:term] %>
      <%= submit_tag 'Search' %>
    <% end %>
    </div>
  
  <div class="col-md-5">
  <div class="pull-right">
  <%= link_to "+ Create a new Project", new_project_path, class: "btn btn-primary" %>
  </div>
  </div>
  </div>
  </head>
  
  </br>

  <body>
  
  <div id="main-container" class="container">
    <div class="row">
      <div class="col-md-6">
        <h3> Your Projects </h3> 
        <% if @adminprojects.empty? %>
        <h4> No projects created yet! </h4>
        <% else %>
        <% @adminprojects.each do |p| %>
          <h3><%= link_to p.title, project_path(p) %></h3>
          <p class="fontstyle"><%= p.description%></p>
        <% end %>
       </div>
        <% end %>
    
        <% if @otherprojects.length > 0 %>  
      <div class="col-md-6">
        <h3> Projects you contribute to </h3>
        <% @otherprojects.each do |p| %>
          <h3><%= link_to p.title, project_path(p) %></h3>
          <p class="fontstyle"><%= p.description%></p>
        <% end %>
      </div>
      </div>
  <% end %>
  </div>
  </br>
  
  <% else %>

  <h2>WELCOME TO HAWKS ANNOTATION..!!!</h2>
  <h3 class="pull-right">Sign in or Sign up to continue...</h3>
  <br>
  <%= image_tag("welcome_annotation.jpg", class:"img-responsive", size: "50%xauto") %>
  <!--<h2><%= @welcome %></h2>-->
  
<% end %>

  </body>
  


</html>