<% if current_user.present? %>

<%= render "display_projects" %>
<%= if @otherprojects.present? then render "display_other_projects" end%>
<%= link_to "+ Create New Project", new_project_path, class: "btn btn-primary" %>

<% else %>

  <h2>Welcome to Hawks Annotation! Sign in or sign up to continue</h2>
  <br>
  <%= image_tag("welcome_annotation.jpg", size: "1000x580") %>
  <!--<h2><%= @welcome %></h2>-->
  
<% end %>



