<% if @project_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_file.errors.count, "error") %> prohibited this project file from being saved:</h2>
      <ul>
      <% @project_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
<div class="row">
  <div class="col-md-4">

<%= simple_form_for @project_file, :url => @url do |f| %>
<div class="form-group">
<%= f.input :file_name, label: "Name of the File" %>
</div>
<div class="form-group">
<%= f.input :description, class: "control-label"  %>
</div>
<div class="form-group">
<%= f.input :attachment, as: :file %> </br>
</div>
<div class="form-group">
<%= f.button :submit, class: "btn btn-primary"%>
</div>

<% end %>
</div>
</div>