<!DOCTYPE html>
<html>
<head>
  <title>Hawks Annotation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bg">
  <nav class="navbar navbar-default">
    <div class="container">
      <%= link_to "Hawks Annotation", root_path, class: "navbar-brand" %>
        <ul class="nav navbar-nav navbar-left">
          <% if current_user.present? %>
            <li><%= link_to "All Projects", projects_path %></li>
          <% end %>
          <% if (controller_name == "projects" && action_name == "show") || controller_name == "project_files" || controller_name == "questions" || controller_name == "answers" || controller_name == "downloads" %>
            <% project_id =  (controller_name == "projects" && action_name == "show")? params[:id] : params[:project_id]  %>
            <li><%= link_to "Files", project_project_files_path(project_id = project_id) %></li>
            <li><%= link_to "Questions", project_questions_path(project_id = project_id) %></li>
            <li><%= link_to "Answers", project_answers_path(project_id = project_id) %></li>
            <li><%= link_to "Downloads", project_downloads_path(project_id = project_id) %></li>
          <% end %>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <% if current_user.present? %>
          
         
            <li><button class="btn btn-default dropdown-toggle" style="margin-top: 5%;" type="button" data-toggle="dropdown"><%= current_user.email %>
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><%= link_to "Sign out",destroy_user_session_path, method: :delete %></li>
            </li>
        </ul>
          
          
          <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
        </ul>
      <% end %>  
    </div>
  </nav>
  
  
  
  <div class="container">  
   <!--<% if !notice.nil? %> -->
   <!--  <p class="notice"><%= notice %></p>-->
   <!--  <p class="alert"><%= alert %></p>-->
   <!--<% end %>-->
    <%= flash_messages %>

   <%= yield %>

  </div>
</body>
</html>
